<div class="container grid" [ngStyle]="{'grid-template-rows': view.headerHeight + 'px 1fr' }">
  <div class="header grid">
    <div class="tab-selector">
      <button style="width: 250px" (click)="currentWiewId = 0;">edit channels group</button>
      <button style="width: 250px" (click)="currentWiewId = 1;">edit groups</button>
    </div>
    <div>
      <div style="
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      margin: 1px 2px 1px 2px;
      ">
       <button style="width: 25px; " (click)="Undo()">U</button> 
       <button style="width: 25px"(click)="Rendo()">R</button>
       <div *ngFor="let cmd of commands.commandsUndo;" style="
       background: rgb(86, 86, 87);
       border: rgb(36, 36, 37);
       border-radius: 5px;
       height: 20px;
       border-style: solid;
       border-width: 1px;
       display: inline-block;
       flex: 0 1 20px;
        "></div>
      </div>
    </div>
  </div>
  <div class="content" [ngSwitch]="currentWiewId">
    <div *ngSwitchCase="0">
      <app-edit-channels-group></app-edit-channels-group>
    </div>
    <div *ngSwitchCase="1">
      <app-edit-groups></app-edit-groups>
    </div>
    <div *ngSwitchDefault>
    
    </div>
  </div> 
</div>
   
<!-- <div class="overView">
  <div [ngStyle]="{'height': view.headerHeight + 'px'}" style="display:flex; flex-direction: column;">
    <div class="header" >
      <div class="tab-selector" >
        <div class="cell">
          <button style="width: 250px" (click)="currentWiewId = 0;">edit channels group</button>
        </div>
        <div class="cell">
          <button style="width: 250px" (click)="currentWiewId = 1;">edit groups</button>
        </div>
      </div>
    </div>
    <div style="background-color:rgb(255, 0, 255); display: block">
      
    </div>
    <div style="
      white-space: nowrap;
      overflow:auto;
      padding: 0px;
      background-color:rgb(179, 255, 0); 
      ">
       <button style="width: 25px; " (click)="Undo()" >U</button> 
       <button style="width: 25px"(click)="Rendo()" style="height: 100%">R</button>
       <div *ngFor="let cmd of commands.commandsUndo;" style="
       background: chartreuse; 
       border: chocolate;  
       width: 20px; 
       height: 20px;
       border-style: solid;
       border-width: 1px;
       display: inline-block;
        "></div>
    </div>
  </div>

  <div class="content" [ngSwitch]="currentWiewId">
    <div *ngSwitchCase="0">
        <app-edit-channels-group></app-edit-channels-group>
    </div>
    <div *ngSwitchCase="1">
        
    </div>
    <div *ngSwitchDefault>
    
    </div>
  </div> 
</div>  -->
