.container{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}
.header{
    width: 100%;
    height: 20px; 
    background: linear-gradient(to top, #161616 , #373738);
    text-align: right;
    border-radius: 5px;
    color:  rgb(104, 104, 104);
}