<div #container class="channel" [ngStyle]=" { backgroundColor: colorBack }" tabindex="0">
  <div style="height: 100%;display: flex; justify-content: center; align-items: center">
    {{channelId + 1}}
  </div>
  <app-group-element style="position: absolute; height: inherit;" *ngFor="let element of groupChannel.groups" [groupElement]="element"
  [ngStyle]="{'left': element.position.x + 25 + 'px', 'top': element.position.y + 'px'}"
  (onresize)="onSizeChanged()"
  (onDrag)="onDrag($event)"
  (onfocus)="onFocus($event)"
  ></app-group-element>
</div>
