.channel {
    // background: rgb(56, 56, 58);
    height: inherit;
    width: inherit;
    border-color: rgb(23, 23, 24);
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    position: relative;
    display: grid;
    grid-template-columns: 25px 1fr
}
:focus {
    outline: none;
}