<div [ngStyle]="{
  'width.px': canvas.width,
  'height.px': canvas.height,
  'cursor': drawer.canResize ? 'e-resize':'pointer'

}" #container>
  <canvas 
    #canvasBack

    width="250" 
    height="100"
    style="
    z-index: 0;
    position: absolute;
    "
    >
  </canvas>
  <canvas tabindex="0" 
    style="
    z-index: 1;
    background: transparent;
    position: absolute;
    "
    #canvas
    width="250" 
    height="100"
    (mousedown)="drawer.onMouseDown($event)"
    (mouseenter)="drawer.onMouseEnter($event)"
    (mouseleave)="drawer.onMouseLeave($event)"
    (keydown)="drawer.onKeyDown($event)"
    >
  </canvas>
  
  
</div>

<!-- <app-colorpicker-window #modal></app-colorpicker-window> -->



