.grid {
    display: grid;
}
.view {
    width:100%;
    height: 100%;
    grid-template-columns: 150px auto 150px;
    background-color:rgb(13, 13, 14); 
}
.topArea {
    background: rgb(53, 53, 54); 
    grid-column-start: 1; 
    grid-column-end: 4
}
.leftArea {
    background-color:rgb(35, 35, 36); 
    vertical-align: top;
    overflow: auto;
}
.rightArea {
    background-color:rgb(35, 35, 36); 
    overflow: auto;
    vertical-align: top;
}
.midArea {
    overflow: auto;
    position: relative;
    background-color:rgb(21, 21, 22);
}
